**/node_modules
**/.next
**/.turbo
**/dist
**/.git
**/.github
**/.vscode
**/.env
**/.env.*
!**/.env.example
**/*.log
**/coverage
**/.DS_Store
**/dump.rdb
**/test-video-providers.html
**/warnings_search.txt
